@page
@model MegadeskWebApp.Pages.DeskQuotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>All Quotes</h2>

<p class="button-link">
    <a class="button-style"  asp-page="Create">+ Create New Quote</a>
</p>

<div class="create-flex">

    <form>
        <p>
            <input type="text" asp-for="SearchString" placeholder="Search By Customer:" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    <p class="special-link">
        <a class="special-link" asp-page="./Index" role="button">Back to Full List</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CustomerSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].FullName)
                </a> 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].NumDrawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].SurfaceMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].RushDays)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort" class="light">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].Date)
                </a>
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskQuote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumDrawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurfaceMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RushDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
